.contact-information {
  max-width: 90%;
  margin: 0 auto;
}

.contact-information__title {
  margin: 0;
  padding-top: 50px;
}

.contact-information__box {
  display: flex;
  flex-direction: column;
}

.contact-information__title-box {
  margin: 0;
}

.contact-information__paragraph-box {
  margin: 0px;
  font-size: 16px;
}

.contact-information__box {
  padding-top: 80px;
}

.contact-information__columntwo {
  display: flex;
  gap: 10px;
  flex-direction: column;
  max-width: 50%;
}

.contact-information__columnfour {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 80%;
}

.text-color {
  min-width: 80px;
  text-align: right;
  padding-right: 10px;
}

.contact-information__columns-area {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 40px;
}

.contact-information__columns-area:nth-child(2) {
  padding-bottom: 60px;
}

.contact-information__columnthree-title {
  margin: 0;
  font-size: 18px;
  min-width: 252px;
}

.contact-information__columnone-title {
  margin: 0;
  font-size: 18px;
}

.text-align { 
padding-top: 3px;
}

.contact-information__columnl { 
display: flex;
flex-direction: column;
row-gap: 15.5px;
margin: 0;
padding: 0;
list-style-type: none;
min-width: 60%;
max-width: 60%;
margin-left: auto;

}

.listy { 
  display: flex;
  flex-direction: row;
}

.listyl {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 460px) and (max-width: 670px) {
  .contact-information__box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .contact-information__columns-area {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
    align-items: center;
  }

  .contact-information__columntwo {
    display: flex;
    gap: 10px;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;
  }

  .contact-information__columnfour {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    max-width: 60%;
  }
}

@media screen and (min-width: 320px) and (max-width: 460px) {
  .contact-information__box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .contact-information__columns-area {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
    align-items: center;
  }

  .contact-information__columntwo {
    display: flex;
    gap: 10px;
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
  }

  .contact-information__columnfour {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    max-width: 90%;
  }
}
