@font-face {
    font-family: 'Manrope';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url(./static/Manrope-Regular.ttf) format("truetype")
  }
  
  @font-face {
    font-family: 'Manrope';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url(./static/Manrope-Bold.ttf) format("truetype"),
  }
  
  
  @font-face {
    font-family: 'Manrope';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url(./static/Manrope-ExtraBold.ttf) format("truetype"),
  }
  
  