/* space-top */
.space-top-1 { 
margin-top: 36px;
}

.space-top-2 { 
margin-top: 28px;
}

.space-top-3 { 
margin-top: 24px;
}

.space-top-4 { 
margin-top: 20px
}

.space-top-5 { 
margin-top: 16px;
}

/* space-bottom */
.space-bottom-1 { 
margin-bottom: 36px;
}

.space-bottom-2 { 
margin-bottom: 28px;
}

.space-bottom-3 { 
margin-bottom: 24px;
}

.space-bottom-4 { 
margin-bottom: 20px;
}

.space-bottom-5 { 
margin-bottom: 16px;
}

/* space-left */
.space-left-1 { 
margin-left: 40px;
}

.space-left-2 { 
margin-left: 32px;
}

.space-left-3 { 
margin-left: 24px;
}

.space-left-4 { 
margin-left: 20px;
}

.space-left-5 { 
margin-left: 16px;
}

/* space-right */
.space-right-1 { 
margin-right: 40px;
}

.space-right-2 { 
margin-right: 32px;
}

.space-right-3 { 
margin-right: 24px;
}

.space-right-4 { 
margin-right: 20px;
}

.space-right-5 { 
margin-right: 16px;
}

