@font-face {
    font-family: 'play';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url(./Play/Play-Regular.ttf) format("truetype")
  }
  
  @font-face {
    font-family: 'play';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url(./Play/Play-Bold.ttf) format("truetype"),
  }
  